@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: #48A3A4;
    --color-input: #E0FCFF;
    --color-option: #242427;
    --color-bg: #070B0F;

    --font-primary: "MuseoModerno", sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-figtree: 'Figtree', sans-serif;
}

@layer base {
    body {
        background-color: #070B0F;
    }
}
