@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Admin/**/*';
@source '../../../../resources/views/filament/admin/**/*';

.fi-ta-bulk-actions{
    order: 2;
    margin-left: auto;
}

.fi-ta-pagination {
    order: 1;
}

.fi-topbar:where(.dark,.dark *) {
    background-color: var(--gray-950);
}

.fi-topbar-open-collapse-sidebar-btn {
    @apply mx-0! rounded-full bg-primary absolute top-[85px] left-[4rem];
}

.fi-topbar-close-collapse-sidebar-btn {
    @apply mx-0! hidden lg:flex rounded-full rotate-180 bg-primary absolute top-[85px] left-[12rem];
}

.fi-ta-ctn .fi-ta-header-toolbar>:nth-child(2) {
    margin-inline-end: auto;
}

.fi-ta-ctn .fi-ta-header-toolbar:where(.dark,.dark *)
{
    display: flow-root;
}

.fi-header {
    justify-content: flex-start;
}
